history.txt
.project/
.pydevproject/
*.pyc
*.so
*.log
*.swp
build/
dist/
MANIFEST
env/
log/
*.egg-info/
.idea/
.settings/
.pydevproject
dump.rdb
*~
celerybeat-schedule.db
.project
.settings
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml


